.btn {
    @apply font-bold py-2 px-4 rounded;
  }
  .btn-blue {
    @apply bg-blue-500 text-white;
  }
  .btn-blue:hover {
    @apply bg-blue-700;
  }

  @media (min-width: 640px) {
    table {
      display: inline-table !important;
    }

    thead tr:not(:first-child) {
      display: none;
    }
  }

  /* td:not(:last-child) {
    border-bottom: 0;
  } */

  /* th:not(:last-child) {
    border-bottom: 2px solid rgba(0, 0, 0, .1); 
  } */
  

  .spinner {
    /* background-color: #f2f2f2; */
    min-height: 35px;
    align-self: center;
    position: relative;
    top:135px;
   
  }


  .content {
    /* background-color: #da0f0f; */
    min-height: 550px;
    min-width: 650px;
  }