<div *ngIf="pagerModel!.numberOfpages ?? 0>0">
  <div>
      <div class="text-sm leading-5 text-blue-700 flex justify-between flex-end my-2">          
         <div  class="font-medium">Selected Page: {{pagerModel!.currentPageNumber}} of {{pagerModel!.numberOfpages}}</div> 
          <div class="font-medium">
            <label>Go to Page:&nbsp;</label>
   
              <select type="number" class="text-teal-700 border border-blue-300" #selectedPage 
            (change)='goToPage(selectedPage.value)'>
              <option *ngFor="let page of pagerModel!.AvailabelPages" [ngValue]="page">{{page}}</option>
            </select>
   
            
          </div>
        </div>
  </div>
  <div class="flex flex-row justify-end">
      <nav class="relative z-0 inline-flex shadow-sm">
          <!--Prev-->
        <div>
          <button class="relative inline-flex items-center px-2 py-2 rounded-l-md border border-gray-300 bg-white text-sm leading-5 font-medium text-gray-500 hover:text-gray-400 focus:z-10 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-100 active:text-gray-500 transition ease-in-out duration-150" 
          aria-label="Previous" 
          type="button"
          (click)="PrevPage()">
          <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd" />
        </svg>
          </button>        
            
             
          </div>
          <!--Pages-->
          <div>
           
              
                <a *ngIf="pagerModel!.PreviousPageRangeAvailable" href="#" 
                  class="-ml-px relative inline-flex items-center px-4 py-2 border border-gray-300 bg-white text-sm leading-5 font-medium text-blue-700 focus:z-10 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-tertiary active:text-gray-700 transition ease-in-out duration-150 hover:bg-tertiary"
                title="Next Page Range" (click)="PrevPageRange(); "> ...</a>
              
                   <ng-container  *ngFor="let page of pagerModel!.VisiablePageRanges">
                    <!-- <a href="#" class="-ml-px relative inline-flex items-center px-4 py-2 border border-gray-300 bg-white text-sm leading-5 font-medium text-blue-700 focus:z-10 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-tertiary active:text-gray-700 transition ease-in-out duration-150 hover:bg-tertiary">
                        1
                    </a> -->
                    <span *ngIf="page==pagerModel!.currentPageNumber; else elseBlock" 
                    class="-ml-px relative inline-flex items-center px-4 py-2 border border-gray-300 bg-white text-md leading-5 font-medium text-black-700"
                    >
                      {{page}}
                    </span>
                    <ng-template #elseBlock>
                      <a href="#" 
                      href="#" class="-ml-px relative inline-flex items-center px-4 py-2 border border-gray-300 bg-white text-sm leading-5 font-medium text-blue-700 focus:z-10 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-tertiary active:text-gray-700 transition ease-in-out duration-150 hover:bg-tertiary"
                      (click)="goToPage(page); " > {{page}}</a> 
                    </ng-template>
              

                  </ng-container>
                   <a *ngIf="pagerModel!.NextPageRangeAvailable" href="#" 
                      class="-ml-px relative inline-flex items-center px-4 py-2 border border-gray-300 bg-white text-sm leading-5 font-medium text-blue-600 focus:z-10 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-tertiary active:text-gray-700 transition ease-in-out duration-150 hover:bg-tertiary"
                      title="Next Page Range" (click)="NextPageRange(); " > ...</a>

          
          </div>
           <!--Pages--> 
          
          <!-- Next Page -->
          <div>

           
            <button class="-ml-px relative inline-flex items-center px-2 py-2 rounded-r-md border border-gray-300 bg-white text-sm leading-5 font-medium text-gray-500 hover:text-gray-400 focus:z-10 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-100 active:text-gray-500 transition ease-in-out duration-150" aria-label="Next"            
            type="button"
            (click)="NextPage()">
                <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                  <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
              </svg>
            </button>

              <!-- <a href="#" class="-ml-px relative inline-flex items-center px-2 py-2 rounded-r-md border border-gray-300 bg-white text-sm leading-5 font-medium text-gray-500 hover:text-gray-400 focus:z-10 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-100 active:text-gray-500 transition ease-in-out duration-150" aria-label="Next">
                  <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                      <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
                  </svg>
              </a> -->
          </div>
      </nav>
  </div>
</div>

<!-- <div *ngIf="pagerModel!.numberOfpages ?? 0>0">
    <div class="flex flex-row justify-between my-2">
      <div>
        <label>Go to Page:</label>
        <select type="number" #selectedPage 
        (change)='goToPage(selectedPage.value)'>
          <option *ngFor="let page of pagerModel!.AvailabelPages" [ngValue]="page">{{page}}</option>
        </select>
      </div>
       <div>Selected Page: {{pagerModel!.currentPageNumber}} of {{pagerModel!.numberOfpages}}</div> 
    
    </div>
    <div class="flex flex-row justify-between ">
        <div style="position: relative; top: 5px">
            <span *ngIf="pagerModel!.PreviousPageRangeAvailable">
              <a href="#" class="no-underline hover:underline text-cyan-600 dark:text-cyan-400" title="Next Page Range" (click)="PrevPageRange(); "> ...</a>
            </span>
            <span *ngFor="let page of pagerModel!.VisiablePageRanges" >
              <span *ngIf="page==pagerModel!.currentPageNumber; else elseBlock" >{{page}}</span>
                  <ng-template #elseBlock>
                    <a href="#" class="no-underline hover:underline text-cyan-600 dark:text-cyan-400" (click)="goToPage(page); " > {{page}}</a> &nbsp;
              </ng-template>
            </span> 
            <span *ngIf="pagerModel!.NextPageRangeAvailable">
              <a href="#"  class="no-underline hover:underline text-cyan-600 dark:text-cyan-400" title="Next Page Range" (click)="NextPageRange(); " > ...</a>
            </span>      
         </div>
      
        <div class="ml-6">
                  <button class="bg-blue-500 hover:bg-blue-700 text-white active:bg-sky-600 font-bold text-xs px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button"
          (click)="PrevPage()">
              &lt;&lt; Prev
          </button>
        
          <button class="bg-blue-500 hover:bg-blue-700 text-white active:bg-sky-600 font-bold text-xs px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button"
          (click)="NextPage()">
                Next &gt;&gt;
          </button>
  
        </div>
    </div>
</div>    -->
